StockistConsoleApp/Connected Services/TicketManagerService/TicketServiceManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TicketServiceManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53550/TicketManagerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53550/TicketManagerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53550/TicketManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfTicketServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITicketManagerService_AddTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTicket" />
  </wsdl:message>
  <wsdl:message name="ITicketManagerService_AddTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketManagerService_GetAllTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTickets" />
  </wsdl:message>
  <wsdl:message name="ITicketManagerService_GetAllTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketManagerService_UpdateToSold_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToSold" />
  </wsdl:message>
  <wsdl:message name="ITicketManagerService_UpdateToSold_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToSoldResponse" />
  </wsdl:message>
  <wsdl:portType name="ITicketManagerService">
    <wsdl:operation name="AddTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketManagerService/AddTicket" message="tns:ITicketManagerService_AddTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketManagerService/AddTicketResponse" message="tns:ITicketManagerService_AddTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTickets">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketManagerService/GetAllTickets" message="tns:ITicketManagerService_GetAllTickets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketManagerService/GetAllTicketsResponse" message="tns:ITicketManagerService_GetAllTickets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateToSold">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketManagerService/UpdateToSold" message="tns:ITicketManagerService_UpdateToSold_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketManagerService/UpdateToSoldResponse" message="tns:ITicketManagerService_UpdateToSold_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITicketManagerService" type="tns:ITicketManagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTicket">
      <soap:operation soapAction="http://tempuri.org/ITicketManagerService/AddTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTickets">
      <soap:operation soapAction="http://tempuri.org/ITicketManagerService/GetAllTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateToSold">
      <soap:operation soapAction="http://tempuri.org/ITicketManagerService/UpdateToSold" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TicketServiceManager">
    <wsdl:port name="BasicHttpBinding_ITicketManagerService" binding="tns:BasicHttpBinding_ITicketManagerService">
      <soap:address location="http://localhost:53550/TicketManagerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>